.Swiper{
    padding: 20px 0;
    width: 100%;
}

.SwiperSlide{
    width: 600px;
}

.SwiperSlideActive{
    transform: scale(3);
}

@media screen and (max-width: 1440px) {
    .SwiperSlide{
        width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .SwiperSlide{
        width: 100%;
    }
}